* {
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    padding: 15px 0;
}

#navbar {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: rgb(249, 249, 249);
}

#navbar a, header h1 {
    padding: 10px 5px 2px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: rgb(78, 78, 78)
}

.navbar-h1 {
    font-size: 1.6rem;
    margin-top: none;
    padding-bottom: 35px;
    font-weight: 500;
    color: rgb(48, 48, 48);
}

main {
    margin-left: 270px;
    padding: 2px 0 0 8px;
}

div {
    margin-left: 30px;
    line-height: 20px;
    color: rgb(83, 83, 83);
}

p {
    line-height: 25px;
    padding-bottom: 10px;
}

li {
    padding-bottom: 10px;
}

.section-header {
    margin-left: 10px;
    font-size: 1.8rem;
    font-weight: 549;
    padding: 10px 0 5px 0;
    color: rgb(39, 39, 39)
}

code {
    font-family: monospace;
    display: block;
    padding: 15px;
    margin: auto;
    background-color: #eee;
    position: relative;
    margin: 10px;
    border-radius: 5px;
    word-wrap: normal;
    word-break: normal;
    white-space: pre-line;
    line-height: 2;
}

a {
    color: black;
    border-top: 1px solid black;
    display: inline-block;
    text-decoration: none;
    margin-bottom: auto;
}

.code-line {
    margin-top: 10px;
}

#navbar li {
    list-style: none;
    width: 100%;
}

a:visited {
    text-decoration: none;
}

@media (max-width: 700px)
{
    .navbar-h1 {
        text-align: center;
    }

    #navbar {
        height: 120px;
        width: 100%;
        background-color: #eee;
        margin-left: auto;
        margin-right: auto;
    }

    #navbar a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        display: block;
        text-align: center;
        float: inline-start;
        border-top: 1px solid black;
        margin-bottom: -10px;
    }

    main {
        margin-top: 230px;
        padding: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}